{% extends 'base/layout.html' %} {% load static %} {% block body %}
<div class="recipe_body" style="padding: 20px">
  <div class="recipe_post_container recipe_container">
    <h2>{{recipe.title}}</h2>
    <div class="recipe_post_divider">
      <div>
        <span class="badge text-bg-light">RATING: </span
        ><span class="badge text-bg-light"
          >{{recipe.rating.avg_rating}}
          <i class="rating__star fas fa-star" style="color: #dabd18b2"></i
        ></span>
      </div>
      <div style="padding-left: 10px">
        <span class="badge text-bg-light"
          >{{recipe.review.count_review}} REVIEWS</span
        >
      </div>
      <div style="padding-left: 10px">
        <span class="badge text-bg-light">{{recipe.create_at}}</span>
      </div>
    </div>
    <div class="recipe_post_description_container" style="margin-top: 10px">
      <p>{{recipe.description}}</p>
    </div>
    <div>
      {% if request.user.is_authenticated%} {%if not save%}
      <div
        onclick="load_collection_name()"
        id="recipe_save_collection"
        class="recipe_save_collection"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="#71c6dd"
          class="bi bi-bookmark-heart-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"
          />
        </svg>
        Save
      </div>
      {%else%}
      <a href="{%url 'unSave' recipe.id%}" style="text-decoration: none">
        <div
          class="recipe_save_collection"
          id="recipe_unsave_collection"
          style="background-color: #71c6dd"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="currentColor"
            class="bi bi-bookmark-heart-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"
            />
          </svg>
          Unsave
        </div>
      </a>
      {%endif%} {%endif%}
      <!-- Button trigger modal -->

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">
                Select Collection
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="check_container"></div>
              <div class="recipe_new_collection_btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-plus-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
                <span
                  class="badge text-bg-primary"
                  style="color: black; font-size: 15px"
                  >New Collection</span
                >
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                id="save_collection_item_btn"
                class="btn btn-primary"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recipe_post_footer_container" style="margin-bottom: 20px">
      <span
        style="font-size: medium; color: #1a222d"
        class="badge text-bg-light"
        >By:
      </span>
      <a class="recipe_user_profile" href="{%url 'profile' recipe.user.id%}">
        <svg
          style="margin: 0"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="#e0e0e0"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
        <span style="color: #e0e0e0; padding: 0" class="badge text-bg-light"
          >{{recipe.user.username}}</span
        >
      </a>
    </div>
    <div class="image"><img src="{{recipe.image.url}}" /></div>
    <h3 style="margin-top: 10px">
      Total Time to cook:
      <span class="badge bg-secondary">{{recipe.totalTime}} min</span>
    </h3>

    <div class="recipe_ingredients_container">
      <h2>
        <span class="badge text-bg-light" style="color: #1a222d"
          >Ingredients</span
        >
      </h2>
      <ul class="ingredients_list">
        {% for ingredient in recipe.ingredients %}
        <li>{{ingredient}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="recipe_directions_container">
      <h2 style="margin: 20px 0">Directions</h2>
      {% for k in newDirections %}
      <h3>
        <span class="badge text-bg-light" style="color: #1a222d"
          >Step {{k.index}}</span
        >
      </h3>
      <p style="margin-left: 8.4px">{{k.value}}</p>
      {% endfor %}
    </div>
    <div class="reviews_form_container">
      <h2>REVIEW</h2>
      <div class="reviews_form_inner_container">
        <div class="reviews_form_inner_inner_container">
          <form
            action="{% url 'recipe' recipe.id%}"
            method="Post"
            style="
              padding-bottom: 30px;
              margin-bottom: 30px;
              border-bottom: 1px lightgray solid;
            "
          >
            {% csrf_token %} {{reviewsRatingForm.review}}
            {{reviewsRatingForm.rating}}
            <div class="rating">
              <i class="rating__star far fa-star"></i>
              <i class="rating__star far fa-star"></i>
              <i class="rating__star far fa-star"></i>
              <i class="rating__star far fa-star"></i>
              <i class="rating__star far fa-star"></i>
            </div>
            <button
              type="submit"
              class="btn btn-warning"
              style="margin-top: 10px"
            >
              Submit
            </button>
          </form>
          <div>
            {% for review_rating in reviews_ratings_output %}
            <div>
              <a
                class="recipe_user_profile"
                href="/"
                style="
                  text-decoration: none;
                  display: flex;
                  align-items: center;
                "
              >
                <svg
                  style="margin: 0"
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="#3f4156"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                  />
                </svg>
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 5px;
                  "
                >
                  <span
                    style="color: #3f4156; padding: 0 5px; font-size: 18px"
                    class="badge text-bg-light"
                    >{{review_rating.user}}</span
                  >
                  <span
                    style="color: lightgray; font-size: 10px"
                    class="badge text-bg-light"
                    >{{review_rating.create_at}}</span
                  >
                </div>
              </a>

              <div class="" style="color: #ffc107; margin: 10px 0">
                {% if review_rating.rating == 5 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>

                {% elif review_rating.rating == 4 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                {% elif review_rating.rating == 3 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif review_rating.rating == 2 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif review_rating.rating == 1 %}
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elif review_rating.rating == 0 %}
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% endif %}
              </div>

              <p>{{review_rating.review}}</p>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'base/recipe.js' %}"></script>
</div>
{% endblock %}
